.box {
	background-color: chocolate;
	width: 100px;
	height: 100px;
	/* transform: rotate(45deg); */
	/* transform: skew(45deg); */
	/* transform: scale(2); */
}

.box:hover {
	/* transform: scale(1.05); */
	transform: rotate(2deg);
}
