.box {
	background-color: cornsilk;
	height: 100px;
	width: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.fas {
	animation-name: animation1;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes animation1 {
	from {
		transform: rotate(90deg);
	}

	to {
		transform: rotate(360deg);
	}
}
