* {
	margin: 0;
	padding: 0;
}

.box {
	height: 170px;
	width: 170px;
	border: 2px solid blue;
}

.container {
	border: 3px solid red;
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-evenly;
}

#box4 {
	order: 0;
}

#box3 {
	order: 1;
}

#box2 {
	order: 1100;
}

#box1 {
	order: 1000;
}
